<div id="<%= dom_id service %>" class="list-group-item d-flex justify-content-between">
  <div>
    <p>
      <strong><%= service.name %></strong>
    </p>

    <p>
      <small><%= service.description %></small>
    </p>

    <p>
      <strong>Duration:</strong>
      <%= service.to_time %>
    </p>

    <p>
      <strong>Price:</strong>
      $<%= service.price %>
    </p>
  </div>

  <div class="ms-auto">
    <p>
      <%= link_to "Edit", edit_service_path(service), class: "btn btn-secondary" %>
    </p>
  </div>
</div>
