<div id="<%= dom_id service %>" class="list-group-item">
  <p>
    <strong>Service:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= service.to_time %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= service.price %>
  </p>

  <p>
  <%= link_to "Edit", edit_service_path(service), class: "btn btn-secondary" %>
  </p>
</div>
