<div id="<%= dom_id business %>">
  <p>
    <strong>Owner:</strong>
    <%= business.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= business.address %>
  </p>

  <p>
    <strong>About:</strong>
    <%= business.about %>
  </p>

</div>
