<%= simple_form_for(@business, html: { class: "needs-validation", novalidate: true }) do |f| %>
  <%= f.error_notification class: "alert alert-danger" %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence, class: "alert alert-danger" if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :owner %>

    <div class="mb-3">
      <%= f.input :name, input_html: { class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.input :address, input_html: { class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.input :about, as: :text, input_html: { class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.label :logo, class: "form-label" %>
      <%= f.file_field :logo, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions d-grid mt-4">
    <%= f.button :submit, "Save", class: "form-button" %>
  </div>
<% end %>
