<p style="color: green"><%= notice %></p>

<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Businesses</h1>
  <%= render "search/button" %>
</div>

<%= render "search/modal" %>

<div id="businesses">
  <% @businesses.each do |business| %>
  <div>
    <%= business.name %>
  </div>

  <div>
    <%= business.address %>
  </div>

  <div>
    Owner: <%= business.owner.full_name %>
  </div>
   
  <p>
    <%= link_to "Show this business", business %>
  </p>
  <% end %>
</div>

<%= link_to "New business", new_business_path %>
