<div id="<%= dom_id booking %>">
  <p>
    <strong>Client:</strong>
    <%= booking.client_id %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= booking.business_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking.service_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= booking.date %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= booking.time_zone %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= booking.accepted %>
  </p>

</div>
