<div id="<%= dom_id booking %>">
  <p>
    <strong>Client:</strong>
    <%= booking.client_id %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= booking.business_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking.service_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.format_time(booking.started_at) %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.format_time(booking.ended_at) %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= booking.format_date(booking.started_at) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
