
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if current_user.businesses.exists?(id: @booking.business_id) %>
      <%= f.input :client_id, 
                  collection: User.all.map { |u| [u.full_name, u.id] }, 
                  label: "Select Client", 
                  include_blank: "Choose a client" %>
      <%= f.input :service_id, 
                  collection: @business.services.map { |s| [s.name, s.id] }, 
                  label: "Select Service", 
                  include_blank: "Choose a service" %>
    <% else %>
      <%= f.hidden_field :client_id, value: current_user.id %>
      <%= f.hidden_field :service_id, value: @booking.service_id %>
    <% end %>
  
    <%= f.hidden_field :business_id, value: @booking.business_id %>
    <%= f.input :started_at %>
    <%= f.hidden_field :ended_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
