
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :client_id, value: current_user.id %>
    <%= f.hidden_field :business_id, value: @booking.business_id %>
    <%= f.hidden_field :service_id, value: @booking.service_id %>
    <%= f.association :client, selected: current_user %>
    <%= f.association :business, selected: @booking.business_id %>
    <%= f.association :service, selected: @booking.service_id %>
    <%= f.input :started_at %>
    <%= f.hidden_field :ended_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
