
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if current_user.businesses.exists?(id: @booking.business_id) %>
      <%= f.input :client_id, 
                  collection: User.all.map { |u| [u.full_name, u.id] }, 
                  label: "Select Client", 
                  include_blank: "Choose a client" %>
      <%= f.input :service_id, 
                  collection: @booking.business.services.map { |s| [s.name, s.id] }, 
                  label: "Select Service", 
                  include_blank: "Choose a service" %>
    <% else %>
      <%= f.hidden_field :client_id, value: current_user.id %>
      <%= f.hidden_field :service_id, value: @booking.service_id %>
    <% end %>
  
    <%= f.hidden_field :business_id, value: @booking.business_id %>
    <%= f.input :started_at, 
            as: :datetime, 
            html5: true, 
            input_html: { class: "form-control", value: @booking.started_at&.in_time_zone(@booking.business.time_zone)&.strftime("%Y-%m-%dT%H:%M") }, 
            label_html: { class: "form-label" }, 
            label: "Start Time" %>
    <%= f.hidden_field :ended_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "form-button" %>
  </div>
<% end %>
