<a href="/bookings/<%= booking.id %>" class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <div>
      <%= booking.service.name %>
      <% if current_user == booking.business.owner %>
        for <%= booking.client.full_name %>
      <% else %>
        at <%= booking.business.name %>
      <% end %>
    </div>

    <div>
      <%= booking.format_time(booking.started_at) %> - <%= booking.format_time(booking.ended_at) %> on
      <%= booking.format_date(booking.started_at) %>
    </div>

    <div>
      Price: $<%= booking.service.price %>
    </div>
  </div>

  <div class="text-end">
    <%= render "bookings/status", booking: booking %>
  </div>
</a>
