<h1 class="d-flex">
<div>
  <%= @business.name %> Bookings
</div>
<div class="ms-auto">
  <%= link_to "Add a booking", new_booking_path(business_id: @business.id), class: "btn btn-primary" %>
</div>
</h1>

<hr>

<% upcoming_bookings, past_bookings = @bookings.partition { |booking| booking.started_at > Time.current } %>

<%if @business.received_bookings.count > 0 %>
  <h3 class="mt-2"><%= "Upcoming Bookings" if upcoming_bookings.count > 0 %></h3>
  <ul class="list-group">
    <% upcoming_bookings.each do |booking| %>
      <%= render 'bookings/list_group_item', booking: booking %>
    <% end %>
  </ul>

  <h3 class="mt-2"><%= "Past Bookings" if past_bookings.count > 0 %></h3>
  <ul class="list-group">
    <% past_bookings.each do |booking| %>
      <%= render 'bookings/list_group_item', booking: booking %>
    <% end %>
  </ul>
<% else %>
  You have no bookings. Schedule a new booking with a client, or have your client schedule a booking using this <%= link_to "link", business_path(@business.id) %>!
<% end %>
