<div class="d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <% if current_user != @booking.business.owner %>
      <h2>You are booking a <%= @booking.service %></h2>
    <% else %>
      <h1>New booking at <%= @booking.business.name %></h1>
    <% end %>

    <%= render "form", booking: @booking %>

    <br>

    <div>
      <% if current_user != @booking.business.owner %>
        <%= link_to "Back to #{@booking.business.name}", business_path(@booking.business.id), class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "Back to bookings", business_bookings_path(@booking.business.name), class: "btn btn-secondary" %>
      <% end %>
    </div>
  <div>
</div>
