<% current_user.businesses.each do |business| %>
  <li class="nav-item dropdown">
    <%= content_tag(:a, "#{business.name}", class: "nav-link active dropdown-toggle", href: "#", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" }) %>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Business Profile", business_path(business.id), class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Bookings", business_bookings_path(business.name), class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Calendar", business_calendar_path(business.name), class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Services", services_path, class: "dropdown-item" %>
      </li>
      <li>
        <%= link_to "Business Hours", business_hours_path, class: "dropdown-item" %>
      </li>
    <% end %>
  </ul>
</ul>
