<div id="<%= dom_id business_hour %>" class="list-group-item d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <p class="mb-0">
      <strong><%= business_hour.day_of_the_week %>:</strong>
      <% if !business_hour.closed %>
        <%= business_hour.format_time(business_hour.adjusted_opening_time) %> -
        <%= business_hour.format_time(business_hour.adjusted_closing_time) %>
      <% else %>
        Closed
      <% end %>
    </p>
  </div>
  <% if current_user == business_hour.business.owner %>
    <p class="mb-0">
      <%= link_to "Edit", edit_business_hour_path(business_hour), class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>
