<div id="<%= dom_id business_hour %>">
  <p>
    <strong>Business:</strong>
    <%= business_hour.business_id %>
  </p>

  <p>
    <strong>Day of the week:</strong>
    <%= business_hour.day_of_the_week %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= business_hour.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= business_hour.closing_time %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= business_hour.closed %>
  </p>

</div>
