<div id="<%= dom_id business_hour %>">
  <p>
    <strong>Day of the week:</strong>
    <%= business_hour.day_of_the_week %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= business_hour.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= business_hour.closing_time %>
  </p>

  <p>
    <strong>Closed:</strong>
    <%= business_hour.closed %>
  </p>

  <p>
    <%= link_to "Edit", edit_business_hour_path(business_hour), class: "btn btn-secondary" %>
  </p>

</div>
