<!DOCTYPE html>
<html>
  <head>
    <title>BookMe</title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? && current_user.businesses.present? %>
      <%= render "shared/business_owner_navbar" %>
    <% else %>
      <%= render "shared/client_navbar" %>
    <% end %>

    <div class="container">
      <% if notice.present? %>
        <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
      <% end %>

      <% if alert.present? %>
        <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
